@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Lato:wght@300;400;700&display=swap');
:root{
    /*MAIN COLORS*/
    --strong-green: #00B906;
    --light-green: #B9E937;
    --dark-gray: #424242;
    --light-gray: #F5F5F5;
    --green-gray: #406661;
    --dark-green: #17706E;
    --black: #000000;
    --white: #FFFFFF;

    /*Main font-family*/
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: var(--strong-green);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
}
.bars{
    display: none;
}
.navbar-options{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.navbar-options li{
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar-options li a {
    color: var(--black);
    text-decoration: none;
    padding: .5rem;
    font-weight: 700;
    display: block;
    border: 2px solid var(--strong-green);
    border-radius: .4rem;
}
.navbar-options li a:hover{
    animation-name: navbar-selection;
    animation-duration: 0.2s;
    border-color: var(--light-green);
}

.hero{
    background: url("https://drive.google.com/uc?id=1m6cgWaTZ2OGWonJXHFVMLffLqJuhwRT2") no-repeat top center;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-title{
    font-family: 'Comfortaa', cursive;
    color: var(--strong-green);
    -webkit-text-stroke: 2px var(--black);
    font-weight: 700;
    font-size: 5vw;
    position: absolute;
    top: 4rem;
}
.main-form{
    background-color: transparent;
    padding: 0;
    width: 60%;
}
.nav-item{
    width: 12rem;
    background-color:var(--dark-gray);
    margin-right: .4rem;
    text-align: center;
}
.nav-link{
    color: var(--light-gray);
}
.nav-link{
    border: none;
}
.nav-link.active{
    background-color: var(--light-gray) !important;
    color: var(--strong-green) !important;
    font-weight: 700;
    border: none;
    border-radius: 0;
    height: 100%;
}
.tab-content{
    background-color: var(--light-gray);
    border-radius: 0px 1rem 1rem 1rem;
}

.booking-form{
    display: flex;
    flex-direction: column;
}
.type-of-flight{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.type-of-flight label{
    font-weight: 700;
}
.type-of-flight input[type="radio"]{
    width: 1.2rem;
    height: 1.2rem;
    margin-right:.2rem;
    margin-left: 1.5rem;
}

.main-info{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
.main-info-element{
    margin-right: 4rem;
}
.main-info-element label{
    font-size: 2rem;
    font-weight: 500;
}
.main-info-element select{
    width: 15rem;
    background-color: var(--light-gray);
}

.sub-info{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.sub-info .amount{
    font-size: 1.2rem;
    font-weight: 700;
}
.sub-info .amount select{
    width: 4rem;
}
.sub-info .promo-code{
    text-decoration: none;
    color: var(--light-green);
    font-weight: 700;
}
.primary-button{
    background-color: var(--light-green);
    font-weight: 700;
    padding: .2rem 2.5rem;
    border: none;
    border-radius: 1rem;
}
@keyframes navbar-selection{
    from{border-color: var(--strong-green);}
    to{border-color: var(--light-green);}
}

@media (max-width:1024px){
    .navbar{
        padding:0 1%;
    }
}
@media (max-width:840px){
    .navbar{
        padding:0;
    }
    .bars{
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-right: 1rem;
    }
    .bars i{
        font-size: 3rem;
        color: var(--black);
    }
    .navbar{
        flex-wrap: wrap;
    }
    .navbar-options{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .navbar-options li{
        width: 100%;
        text-align: center;
    }
    .navbar-options li a{
        width: 100%;
        border-radius: 0px;
    }
    .navbar-options li a:hover{
        animation-name: navbar-selection;
        animation-duration: 0.2s;
        background-color: var(--light-green);
    }
    @keyframes navbar-selection{
        from{background-color: var(--strong-green);}
        to{background-color: var(--light-green);}
    }
}